<h1 class="">Inicia sesión</h1>
<%= form_with(url: login_path) do |form| %>

  <div class="row g-3 justify-content-center p-2">
    <div class="col-auto">
      <%= form.label :username, :class=>"col-form-label" %>
    </div>
    <div class="col-auto">
      <%= form.text_field :username, :class=>"form-control"%>
    </div>
  </div>

  <div class="row g-3 justify-content-center p-2">
    <div class="col-auto">
      <%= form.label :password, :class=>"col-form-label" %>
    </div>
    <div class="col-auto">
    <%= form.password_field :password, :class=>"form-control"%>
    </div>
  </div>
  <div>
    <%= form.submit "Iniciar sesión", :class=>"btn btn-light" %>
  </div>
<% end %>
<div class="p-1"> ¿No tenés una cuenta?
  <%= link_to 'Crear usuario', new_user_path %>
</div>
<div class="d-grid gap-2 d-md-block d-md-flex justify-content-md-center p-2">  
  <%= button_to "Back to home", root_path, method: :get , :class=>"btn btn-light"%>
</div>