<h1 class="">Inicia sesión</h1>
<%= form_with(url: login_path) do |form| %>

  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <%= form.label :username, :class=>"col-form-label" %>
    </div>
    <div class="col-auto">
      <%= form.text_field :username, :class=>"form-control"%>
    </div>
  </div>

  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <%= form.label :password, :class=>"col-form-label" %>
    </div>
    <div class="col-auto">
    <%= form.password_field :password, :class=>"form-control"%>
    </div>
  </div>
  <div>
    <%= form.submit "Iniciar sesión", :class=>"btn btn-light" %>
  </div>
<% end %>
<div> No tenés una cuenta?
  <%= link_to 'Crear usuario', new_user_path %>
</div>