<div>
  <h1> Link <%= @link_name%> lista de accesos</h1>
</div>
<div id="statistics">
  <% if @statistics.present? %>
    <div class="d-grid gap-2 d-md-block d-md-flex justify-content-md-center p-4">
      <form class="d-flex row gy-2 gx-3 align-items-center" role="search" method:"get", action= <%= "/links/#{@statistics[0].link_id}/statistics/detail"%>>
        <div class="col-auto form-floating">
          <input class="form-control me-2" type="search" name="ip_address" placeholder="IP address" aria-label="Search" id="floatingIP" value= <%= @ip_address %> >
          <label for="floatingIP">IP address</label>
        </div>          
        <div class="col-auto form-floating">
          <input class="form-control me-2" type="date" name="start_date" placeholder="" aria-label="Search" id="floatingSD" value= <%= @start_date%>>
          <label for="floatingSD">Start date</label>
        </div>
        <div class="col-auto form-floating">
          <input class="form-control me-2" type="date" name="end_date" placeholder="" aria-label="Search" id="floatingED" value= <%= @end_date%>>
          <label for="floatingED">End date</label>
        </div>
        <div class="col-auto">
          <button class="btn btn-light" type="submit">Search</button>
          <%= link_to "Limpiar busqueda", request.path, :class=>"btn btn-light" %>
        </div>
      </form>
    </div>
    <table class="table table-hover"">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>IP</th>
        </tr>
      </thead>
      <tbody>
        <% @statistics.each do |stats| %>
          <tr>
            <td><%=stats.date.to_date.to_s%></td>
            <td><%=stats.date.strftime("%I:%M %P")%></td>
            <td><%=stats.ip_address%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @statistics %>
  <% else %>
    <span> No se encontaron accesos </span>
  <% end %>
</div>
    
<div class="d-grid gap-2 d-md-block d-md-flex justify-content-md-center p-2">  
  <%= button_to "Back to links", links_path, method: :get , :class=>"btn btn-light"%>
</div>