<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div data: { controller: "link" }>
    <%= form.label :link_type, style: "display: block" %>
    <%= form.select :link_type, [], {}, autocomplete: "off",
     data: { action: "change =>link#enable" } do %>
     <% [
      ['Regular','Regular'],
      ['Temporal','Temporal'],
      ['Efímero','Efímero'],
      ['Privado','Privado']
        ].to_h.keys.each do |value| %>
      <%= tag.option value, value: value,
            aria: { controls: form.field_id(:link_type, value, :fieldset) } %>
      <% end %>
    <% end %>
  </div>


  <div>
    <%= form.label :expires_at, style: "display: block" %>
    <%= form.datetime_field :expires_at %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password %>
  </div>

  <div>
    <%= form.label :remaining_accesses, style: "display: block" %>
    <%= form.number_field :remaining_accesses, :disabled => true , :value => 1%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
