<%= form_for(:link, method: 'Patch', url:link_path(@link)) do |form| %>
  <% if @link.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <div >
        <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>
      </div>
      <hr>
      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row g-3 justify-content-center p-2">
    <div class="col-auto">
      <%= form.label :url, :class=>"col-form-label" %>
    </div>
    <div class="col-auto">
      <%= form.text_field :url, :class=>"form-control", 'aria-describedby'=>"url" %>
    </div>
    <div class="col-auto">
      <span id="url" class="form-text">
        Must be a valid url
      </span>
    </div>
  </div>

  <div class="row g-3 justify-content-center p-2">
    <div class="col-auto">
      <%= form.label :name, :class=>"col-form-label" %>
    </div>
    <div class="col-auto">
    <%= form.text_field :name, :class=>"form-control", 'aria-describedby'=>"name"  %>
    </div>
    <div class="col-auto">
      <span id="name" class="form-text">
        Must be a 4-25 characters long and only letters
      </span>
    </div>
  </div>

  <% if link.type == "Temporal" %>
    <div class="row g-3 justify-content-center p-2">
      <div class="col-auto">
        <%= form.label :expires_at, :class=>"col-form-label" %>
      </div>
      <div class="col-auto">
        <%= form.datetime_field :expires_at, :class=>"form-control", 'aria-describedby'=>"expires_at"  %>
      </div>
      <div class="col-auto">
        <span id="expires_at" class="form-text">
          Must be a later date
        </span>
      </div>
    </div>
  <% end %>

  <% if link.type == "Private" %>
    <div class="row g-3 justify-content-center p-2">
      <div class="col-auto">
        <%= form.label :password, :class=>"col-form-label" %>
      </div>
      <div class="col-auto">
        <%= form.text_field :password, :class=>"form-control", 'aria-describedby'=>"password"  %>
      </div>
      <div class="col-auto">
        <span id="password" class="form-text">
          Must be a 4-25 characters long and only letters
        </span>
      </div>
    </div>
  <% end %>

  <% if link.type == "Ephemeral" %>
    <div class="row g-3 justify-content-center p-2">
      <div class="col-auto">
        <%= form.label :remaining_accesses, :class=>"col-form-label" %>
      </div>
      <div class="col-auto">
      <%= form.number_field :remaining_accesses, :disabled => true , :value => 1 , :class=>"form-control", 'aria-describedby'=>"remaining"  %>
      </div>
      <div class="col-auto">
        <span id="name" class="form-text">
          Only accepts 1 time remaining
        </span>
      </div>
    </div>
  <% end %>
  
  <div>
    <%= form.submit "Update link", :class=>"btn btn-light"%>
  </div>
  <% end %>