<div>
  <h1> Link info </h1>
</div>
<div class="card text-center">
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p>
          <strong>Short url:</strong>
          <%= @complete_slug %>
        </p>  
      </li>
      <li class="list-group-item">
        <p>
          <strong>Url destino:</strong>
          <%= @link.url %>
        </p>
      </li>
      <li class="list-group-item">
        <p>
          <strong>Name:</strong>
          <%= @link.name %>
        </p>
      </li>
      <% if @link.type == "Temporal" %>
        <li class="list-group-item">
          <p>
            <strong>Expires at:</strong>
            <%= @link.expires_at %>
          </p>
        </li>
      <% end %>
      <% if @link.type == "Private" %>
        <li class="list-group-item">
          <p>
            <strong>Password:</strong>
            <%= @link.password %>
          </p>
        </li>
      <% end %>
      <% if @link.type == "Ephemeral" %>
        <li class="list-group-item">
          <p>
            <strong>Remaining accesses:</strong>
            <%= @link.remaining_accesses %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
    
<div class="d-grid gap-2 d-md-block d-md-flex justify-content-md-center p-2">
  <%= button_to "Edit this link", edit_link_path(@link), method: :get , :class=>"btn btn-light"%>
  
  <%= button_to "Back to links", links_path, method: :get , :class=>"btn btn-light"%>

  <div class="dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Show statistics
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "Accesses detail",show_detail_stats_path, :class=>"dropdown-item"%></li>
      <li><hr class="dropdown-divider"></li>
      <li><%= link_to "Accesses per day",show_day_stats_path, :class=>"dropdown-item"%></li>
    </ul>
  </div>
  
  <%= button_to "Destroy this link",'/links/'+@link.id.to_s, method: :delete, :class=>"btn btn-light"%>
</div>
