<!DOCTYPE html>
<html>
  <head>
    <title>ChqTo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-center" style="min-height: 90vh; background-color:#8BAEB8">
    <div class="card p-5" style="background-color:#8BAEB8; height: 50vh; width:50vw>
        <div class="card-body">
            <h1 class="card-title">500</h1>
            <h2 class="card-subtitle mb-2 text-body-secondary">Internal Server Error</h2>
            <p class="card-text">Oops! We're sorry, but something went wrong on our end. Please try again later.</p>
            <div>
              <%= render 'link_to_home' %>
            </div>
        </div>
    </div>
  </body>
</html>