<!DOCTYPE html>
<html>
  <head>
    <title>ChqTo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-center" style="min-height: 90vh; background-color:#D2E8EA">
    <%= render 'partials/header' %>
    <div class="container">
      <%= render 'partials/flash' %>
      <%= yield %>
    </div>
      <br>
      <%= render 'partials/footer' %>
  </body>
</html>
